.faq-enter {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 500ms ease-in-out, max-height 500ms ease-in-out;
  }
  
  .faq-enter-active {
    opacity: 1;
    max-height: 300px;  /* Adjust to suit your content */
  }
  
  .faq-exit {
    opacity: 1;
    max-height: 300px;  /* This should match the max-height in .faq-enter-active */
  }
  
  .faq-exit-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 500ms ease-in-out, max-height 500ms ease-in-out;
  }
  