.form-style {
  @apply rounded-lg p-3 text-[16px] leading-[24px] text-richblack-900 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-500 font-walsheimReg focus:outline-none;
}
.form-style2{
  @apply rounded-lg p-3 text-[16px] leading-[24px] text-richblack-900 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-500 border-richblack-700 border-[1px] font-walsheimReg focus:outline-none;
}

.lable-style {
  @apply text-[16px] text-[#140342] font-walsheimCon;
}
.yellowButton {
  @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.blackButton {
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
}
.overflow-y-auto {
  scrollbar-width: none;
}
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}