@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('../public/font/GTWalsheimPro-Black.woff2') format('woff2');
  }
@font-face {
    font-family: 'GT Walsheim Medium';
    src: url('../public/font/GTWalsheimPro-Medium.woff2') format('woff2');
  }
@font-face {
    font-family: 'GT Walsheim Regular';
    src: url('../public/font/GTWalsheimPro-RegularOblique.woff2') format('woff2');
  }
@font-face {
    font-family: 'GT Walsheim Condensed';
    src: url('../public/font/GTWalsheimPro-CondensedBold.woff2') format('woff2');
  }

